.encabezado-texto {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 160px;
    width: 65%;
    text-align: left;

}
#imagen-encabezado {
    width: 100%; height: 100%;  
}